body {
    background-color:antiquewhite;
}

header {
    border: 10px solid;
    text-align: center;
}

main {
    margin-top: 50px;
    height: fit-content;
    display: flex;
}

#projects {
    width: 90%;
    margin-left: 5%;
    height: fit-content;
}

.project {
    border: 6px solid; 
    border-radius: 10px; 
    height: fit-content;
    background-color: black;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: xx-large;
    display: flex;
}