body {
    background-color:antiquewhite;
}

header {
    border: 10px solid;
    text-align: center;
}

main {
    border: 10px solid red;
    margin-top: 50px;
    height: fit-content;
    display: flex;
}

#projects {
    border: 8px dotted blue;
    width: 90%;
    margin-left: 5%;
    height: fit-content;
}

.project {
    border: 6px solid;
    height: 40px;
}